
#background{
	margin: 0 auto;
	padding-bottom: 30px;
	background: powderblue;
	border: 2px solid black;
}
#chatwindow{
	text-align: left;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px;
	background: white;
	height:350px;
	width:575px;
	border:2px solid black;
}
#userinput{
	width:475px;
	border:2px solid black;
	margin: 0 auto;
	text-align:left;
}
#sendmsg{
	width:100px;
}
#wrapper{
	width:100%;
	height:100%;
	position:absolute;
	vertical-align:middle;
	text-align:center;
}
.navbar{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:black;
}
li{
	float:left;
}
li i{
	display:block;
	color:orange;
	text-align:center;
	padding:15px 15px;
	text-decoration: none;
}
li i:hover{
	background-color:grey;
}