#pagetitle {
	border-top: 5px solid darkblue;
	border-bottom: 5px solid darkblue;
	text-align: center;
	font-size: 250%;
	color: blue;
	font-variant: small-caps;
}
#background{
	margin: 0 auto;
	padding-bottom: 30px;
	background-color: orange;
	border: 2px solid black;
	width:1920px;
	height:1080px;
}
#chatwindow{
	text-align: left;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px;
	background: white;
	height:300px;
	width:550px;
	border:2px solid black;
	overflow: auto;
}
#userinput{
	width:475px;
	border:2px solid black;
}
#sendmsg{
	width:75px;
}